.tab-container {
  display: flex;
  width: 1000px;
  padding: 2rem 5rem;
}

#tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab {
  padding: 15px;
  background-color: #f4f4f4;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover, .tab.active {
  background-color: #ddd;
}

#content-container {
  flex: 2;
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

#content-container .content {
  display: none;
}

#content-container .content.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-col {
  flex: 0 0 auto;
  width: 50%
}

.right-col {
  flex: 0 0 auto;
  width: 50%
}

.right-col img {
  width: 100%
}